In [12]:
import json
import pandas as pd

In [95]:
url = 'https://jsonplaceholder.typicode.com/albums'

In [96]:
albums_data = pd.read_json(url)

In [97]:
albums_data.head(5)

   userId  id                                     title
0       1   1                     quidem molestiae enim
1       1   2          sunt qui excepturi placeat culpa
2       1   3                        omnis laborum odio
3       1   4  non esse culpa molestiae omnis sed optio
4       1   5                         eaque aut omnis a

In [98]:
'title' in albums_data

True

In [100]:
print(title.head(5))

0                       quidem molestiae enim
1            sunt qui excepturi placeat culpa
2                          omnis laborum odio
3    non esse culpa molestiae omnis sed optio
4                           eaque aut omnis a
Name: title, dtype: object

In [110]:
albums_data.head(5)["title"].str.lower().str.contains("quidem molestiae enim")

0     True
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [109]:
albums_data.head(5)["title"].str.lower().str.contains("sunt qui excepturi placeat culpa")

0    False
1     True
2    False
3    False
4    False
Name: title, dtype: bool

In [111]:
albums_data.head(5)["title"].str.lower().str.contains("omnis laborum odio")

0    False
1    False
2     True
3    False
4    False
Name: title, dtype: bool

In [112]:
albums_data.head(5)["title"].str.lower().str.contains("non esse culpa molestiae omnis sed optio")

0    False
1    False
2    False
3     True
4    False
Name: title, dtype: bool

In [113]:
albums_data.head(5)["title"].str.lower().str.contains("eaque aut omnis a")

0    False
1    False
2    False
3    False
4     True
Name: title, dtype: bool